body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  background: #e50914;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 20px;
}

iframe {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

footer {
  background: #000;
  text-align: center;
  padding: 10px;
}
