.channels img{
width:100px;
margin:10px;
cursor:pointer;
border-radius:10px;
transition:0.3s;
}
.channels img:hover{
transform:scale(1.1);
}

iframe{
border-radius:15px;
box-shadow:0 0 20px rgba(255,0,0,0.4);
}
