body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

header {
  background: red;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
