body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  background: #e50914;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 20px;
}

iframe {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

footer {
  background: #000;
  text-align: center;
  padding: 10px;
}
.channels img{
width:100px;
margin:10px;
cursor:pointer;
border-radius:10px;
transition:0.3s;
}
.channels img:hover{
transform:scale(1.1);
}

iframe{
border-radius:15px;
box-shadow:0 0 20px rgba(255,0,0,0.4);
}

