body{
margin:0;
background-color:#111;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

.logo{
color:red;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:400px;
background:url('https://image.tmdb.org/t/p/original/3CXzM5B5bWmKf0cY4F8cW8LxM7g.jpg');
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
padding:50px;
}

.hero h2{
font-size:50px;
}

.hero button{
padding:10px 20px;
background:red;
color:white;
border:none;
cursor:pointer;
}

.movies{
padding:20px;
}

.movie-row{
display:flex;
gap:15px;
overflow-x:auto;
}

.movie-row img{
width:200px;
border-radius:10px;
transition:0.3s;
}

.movie-row img:hover{
transform:scale(1.1);
}

